
body {
    background-color: #63b6ae;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-align: center;
}

body, input {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

#holder { 
    display: block;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.arrow {
    position: fixed;
    left: 50%;
    top: 45%;
    margin-top: -135px;
    margin-left: -200px;
    width: 400px;
    height: 270px;
    background-image: url('/static/img/arrow.svg');
    background-size: 400px;
    background-repeat: no-repeat;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
    padding: 8px;
}

.arrow.hover {
    width: 450px;
    height: 304px;
    margin-top: -152px;
    margin-left: -225px;
    background-size: 450px;
}

.alpha-bg {
    display: block;
    background-color: rgba(255, 255, 255, .15);
    height: 100%;
    width: 100%;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    position: relative;
}

.arrow.hover .alpha-bg {
    background-color: rgba(255, 255, 255, .0);
}

.notice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    color: white;
    height: 254px;
    line-height: 254px;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    text-shadow: 1px 2px 1px rgba(30, 30, 30, .2);
}

#drag-notice {
    -webkit-transition: opacity, height, line-height .1s ease-out;
    -moz-transition: opacity, height, line-height .1s ease-out;
}

#drop-notice {
    -webkit-transition: opacity, height, line-height .3s ease-in;
    -moz-transition: opacity, height, line-height .3s ease-in;
}

#multi-notice {
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
}

.notice.show {
    opacity: 1;
}

.arrow.hover .notice {
    height: 288px;
    line-height: 288px;
}

#progress {
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    transition: opacity .3s linear;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -80px;
    display: none;
}

#progress.show {
    opacity: 1;
    display: block;
}

@-webkit-keyframes animate-stripes { 
    0% {background-position: 0 0;} 100% {background-position: -60px 0;}
}

@-moz-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: -60px 0;}
}

progress {
    background: #E9EBEF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

progress::-moz-progress-bar { 
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #5e544b; 
    -moz-background-size: 30px 30px;
    background-size: 30px 30px;            
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                           transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                           transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                      transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                      transparent 75%, transparent);      
    -moz-animation: animate-stripes 3s linear infinite;
    animation: animate-stripes 3s linear infinite;
}

progress::-webkit-progress-bar {
    background: #E9EBEF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #5e544b; 
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    background-size: 30px 30px;            
    background-image: -webkit-gradient(linear, left top, right bottom,
                                       color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
                                       color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
                                       color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
                                       to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                              transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                              transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                           transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                           transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                          transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                          transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                         transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                         transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                                      transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                                      transparent 75%, transparent);      
    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
}

@-webkit-keyframes hide-arrow {
    0% {
        width: 450px;
        height: 304px;
        margin-top: -152px;
        margin-left: -225px;
        background-size: 450px;
        opacity: 1;
    }

    20% {
        width: 480px;
        height: 330px;
        margin-top: -165px;
        margin-left: -240px;
        background-size: 480px;
        opacity: .9;
    }

    100% {
        width: 100px;
        height: 70px;
        margin-top: -35px;
        margin-left: -50px;
        background-size: 100px;
        opacity: 0;
    }
}

@-moz-keyframes hide-arrow {
    0% {
        width: 450px;
        height: 304px;
        margin-top: -152px;
        margin-left: -225px;
        background-size: 450px;
        opacity: 1;
    }

    20% {
        width: 480px;
        height: 330px;
        margin-top: -165px;
        margin-left: -240px;
        background-size: 480px;
        opacity: .9;
    }

    100% {
        width: 100px;
        height: 70px;
        margin-top: -35px;
        margin-left: -50px;
        background-size: 100px;
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes card-in {
    0% {
        -webkit-transform: perspective(600px) scale(0.0) rotateY(180deg);
        opacity: 0;
    }
    
    100% {
        -webkit-transform: perspective(600px) scale(1) rotateY(0deg);
        opacity: 1;
    }
}

@-moz-keyframes card-in {
    0% {
        -moz-transform: perspective(600px) scale(0.0) rotateY(180deg);
        opacity: 0;
    }
    
    100% {
        -moz-transform: perspective(600px) scale(1) rotateY(0deg);
        opacity: 1;
    }
}

.arrow.hide {
    -webkit-animation: hide-arrow .5s ease-out 1 forwards;
    -moz-animation: hide-arrow .5s ease-out 1 forwards;
}

#card.show-card, #image-card.show-card {
    -webkit-animation: card-in .7s ease-in 1 forwards;
    -moz-animation: card-in .7s ease-in 1 forwards;
    opacity: 1;
    display: block;
}

#card {
    opacity: 0;
    min-width: 290px;
    max-width: 290px;
    position: fixed;
    left: 50%;
    top: 40%;
    margin-top: -115px;
    margin-left: -145px;
    display: none;
}

#card-info {
    width: 100%;
    position: relative;
    z-index: 50;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #cdcdcd;
    background-image: linear-gradient(bottom, rgb(242,242,242) 17%, rgb(250,250,250) 90%);
    background-image: -o-linear-gradient(bottom, rgb(242,242,242) 17%, rgb(250,250,250) 90%);
    background-image: -moz-linear-gradient(bottom, rgb(242,242,242) 17%, rgb(250,250,250) 90%);
    background-image: -webkit-linear-gradient(bottom, rgb(242,242,242) 17%, rgb(250,250,250) 90%);
    background-image: -ms-linear-gradient(bottom, rgb(242,242,242) 17%, rgb(250,250,250) 90%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.17, rgb(242,242,242)),
        color-stop(0.9, rgb(250,250,250))
    );
    box-shadow: 0px 4px 10px rgba(105, 105, 105, .5);
    border: 1px solid #DCDCDC;
    padding-bottom: 20px;
}

.file-icon {
    margin-top: 30px;
}

.file-icon img {
    width: 75px;
}

.file-meta span {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    color: #888;
}

.file-meta span.sep {
    padding: 0 5px;
}

.file-meta .filename {
    font-weight: normal;
    color: #666;
    font-size: 18px;
    font-family: "PT Sans", sans-serif;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .8);
    padding: 0 20px;
    word-break: break-all;
}

#card .p-link {
    width: 100%;
    margin-top: 10px;
}

#card .p-link input {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    text-align: center;
    color: #888;
    font-size: 13px;
}

#action-area {
    margin-top: 20px;
}

#action-area a {
    font-family: "PT Sans", sans-serif;
    display: inline-block;
    width: 37%;
    color: white;
    padding: 7px 0;
    margin: 0 10px;
    font-size: 14px;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, .3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#action-area a:hover {
    text-decoration: none;
}

#action-area #download-link {
    background-color: #298cf1;
    background-image: linear-gradient(bottom, rgb(31,106,180) 11%, rgb(41,141,241) 11%);
    background-image: -o-linear-gradient(bottom, rgb(31,106,180) 11%, rgb(41,141,241) 11%);
    background-image: -moz-linear-gradient(bottom, rgb(31,106,180) 11%, rgb(41,141,241) 11%);
    background-image: -webkit-linear-gradient(bottom, rgb(31,106,180) 11%, rgb(41,141,241) 11%);
    background-image: -ms-linear-gradient(bottom, rgb(31,106,180) 11%, rgb(41,141,241) 11%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.11, rgb(31,106,180)),
        color-stop(0.11, rgb(41,141,241))
    );
}

#action-area #play-link {
    background-image: linear-gradient(bottom, rgb(156,74,63) 11%, rgb(225,91,73) 11%);
    background-image: -o-linear-gradient(bottom, rgb(156,74,63) 11%, rgb(225,91,73) 11%);
    background-image: -moz-linear-gradient(bottom, rgb(156,74,63) 11%, rgb(225,91,73) 11%);
    background-image: -webkit-linear-gradient(bottom, rgb(156,74,63) 11%, rgb(225,91,73) 11%);
    background-image: -ms-linear-gradient(bottom, rgb(156,74,63) 11%, rgb(225,91,73) 11%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.11, rgb(156,74,63)),
        color-stop(0.11, rgb(225,91,73))
    );
}

.invisible {
    display: none;
}

#card.visible {
    display: block;
    opacity: 1;
}

#image-card {
    margin-top: 100px;
    display: none;
}

#image-preview {
    display: inline-block;
    max-height: 70%;
    max-width: 70%;
    padding: 4px;
    padding-bottom: 0;
    background-color: #F6F6F6;
    border: 1px solid #DCDCDC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
    cursor: zoom-in;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    position: relative;
    z-index: 45;
}

#image-preview img {
    max-height: 70%;
    max-width: 100%;
}

#image-preview.zoomed {
    display: inline-block;
    max-width: 95%;
    max-height: 50%;
    overflow: scroll;
    cursor: zoom-out;
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
}

#image-preview.zoomed img {
    max-height: none;
    max-width: none;
}

#image-preview.zoomed #image-link {
    display: none;
}

#image-link input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    text-align: center;
    margin: 5px 0;
    color: #888;
}
