doctype html
head
  title P - ${filename}
  link rel="stylesheet" href="/static/css/custom.css"

body
  -python
    from utils import is_image,is_pdf,is_psd
  div class="hd"
    a href="/" title="p.dapps.douban.com" P
    input value="${domain}/i/${filename}" onmouseover="this.focus()"
  -if is_image(filename)
    div class="bd"
      img src="${domain}/i/${filename}" id="image" class="small"
  -elif is_pdf(filename)
    iframe src="${domain}/i/${filename}"
  -elif is_psd(filename)
    a href="${domain}/i/${filename}" class="fileicon psd" psd
    a href="${domain}/i/${filename}" ${filename}
  -else
    a href="${domain}/i/${filename}" class="fileicon" file
    a href="${domain}/i/${filename}" ${filename}
  script
    document.getElementById("image").onclick=function(){var a=""+image.className+"";~a.indexOf("auto")?this.className=a.replace("auto",""):this.className+="auto"};
