doctype html
head
  title P - ${p.filehash}
  link rel="stylesheet" href="/static/css/custom.css"

body
  -namespace name="utils" file="utils.html" import="show_file"
  div class="hd"
    a href="/" title="p.dapps.douban.com" P
    input value="http://${r.host}/i/${p.filehash}" onmouseover="this.focus()"
  input class="surl" value="http://${r.host}/s/${p.symlink}" onmouseover="this.focus()"

  ${show_file(p)}
  
  script
    document.getElementById("image").onclick=function(){var a=""+image.className+"";~a.indexOf("auto")?this.className=a.replace("auto",""):this.className+="auto"};
